.sem-article {
    padding-bottom: 60px;

    &__head {
        margin: 0 0 70px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
        @media (max-width: 575px) {
            margin: 0 0 40px;
        }
    }

    &__title {
        @extend %h2;
        font-weight: 400;
        margin: 0;
    }

    &__main-image {
        img {
            width: 100%;
        }
    }

    &__content {
        p {
            @extend %text14;
            margin: 0 0 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .wp-block {
            &-gallery {
                display: block;
                margin-top: 60px;
                margin-left: -10px;
                margin-right: -10px;

                @media (max-width: 575px) {
                    margin-left: -5px;
                    margin-right: -5px;
                }
            }

            &-image {
                padding: 10px;

                @media (max-width: 575px) {
                    padding: 5px;
                }
            }
        }
    }
}
