.sem-card-about {
    padding: 49px 0 65px;
    @media (max-width: 767px) {
        padding: 50px 0;
    }
    @media (max-width: 575px) {
        padding: 30px 0;
    }
    &.indents {
        padding: 106px 0 100px;
        @media (max-width: 767px) {
            padding: 50px 0;
        }
        @media (max-width: 575px) {
            padding: 30px 0;
        }
    }

    &__content {
    }

    &__title {
        @extend %h3;
        font-weight: 400;
        margin: 0 0 20px;

        b {
            font-weight: 400;
        }
    }

    &__subtitle {
        @extend %h5;
        text-transform: uppercase;
        margin: 0 0 10px;
    }

    &__text {
        margin: 0 0 30px;

        p {
            @extend %text14;
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }

            & > li {
                padding-left: 20px;
                position: relative;
                @extend %text14;
                color: $brand-primary;
                margin-bottom: 9px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    border: 1px solid $secondary-color;
                }
            }
        }
    }

    &__image {
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        img {
            width: 100%;
        }
    }
}
