.sem-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    $card: &;

    &.card-full-image {
        #{$card}__image {
            width: calc(50vw - 10px);
            height: 100%;
            position: absolute;
            top: 0;
            overflow: hidden;

            @media (max-width: 991px) {
                position: relative;
                width: 100%;
                min-height: auto;
                height: auto;
            }

            img {
                @extend %full-image;
                @media (max-width: 991px) {
                    position: relative;
                    height: auto;
                }
            }
        }

    }

    &.image_right {
        #{$card}__image {
            right: 0;
        }
    }

    &.image_left {
        #{$card}__image {
            left: 0;
        }
    }

    &.card_grad {
        background: linear-gradient(92.29deg, #0B2B51 0%, #14568A 100%);
        color: $white-color;

        #{$card}__text {
            margin-bottom: 0;

            @media (max-width: 575px) {
                margin-bottom: 20px;
            }
        }
        #{$card}__image {
            padding: 0 3px;
        }
    }
    &__align-items-center .sem-card-info__wrap{
        @media (max-width: 991px) {
            padding: 30px 0;
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 80px 0;
        position: relative;
        overflow: hidden;
        min-height: 458px;
        @media (max-width: 1199px) {
            padding: 65px 0;
            min-height: 410px;
        }
        @media (max-width: 991px) {
            padding: 60px 0;
        }
        @media (max-width: 775px) {
            display: block;
        }
        @media (max-width: 575px) {
            padding: 30px 0 0;
            min-height: auto;
        }
    }
    &__wrap_wrap {
        @media (max-width: 991px) {
            padding: 0;
        }
    }

    &__image {
        @media (max-width: 991px) {
            margin: 0 0 30px;
        }
        @media (max-width: 575px) {
            margin: 0 0 20px;
        }

        img {
            width: 100%;
        }

        &:nth-child(2) {
            @media (min-width: 992px) {
                padding-top: 20px;
            }
        }
    }

    &__content {
        padding-bottom: 10px;

        @media (max-width: 991px) {
            .sem-btn {
                margin-left: 0;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    &__title {
        @extend %h4;
        font-weight: 400;
        margin: 0 0 10px;
    }

    &__text {
        margin: 0 0 30px;

        @media (max-width: 575px) {
            margin-bottom: 0;
        }

        p {
            @extend %text14;
            margin: 0 0 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.indents {
        &.card-full-image {
            .sem-card-info__image {
                position: static;
                width: auto;
                height: auto;
                img {
                    position: static;
                }
            }
        }
    }
}
