.sem-contact {
    &__info {
        &-text {
            @extend %text14;
            margin: 0 0 20px;
        }
    }
    &__title {
        @extend %h3;
        margin: 0 0 10px;
    }
    &__subtitle {
        @extend %h5;
        text-transform: uppercase;
        margin: 0 0 10px;
    }
    &__map {
        position:relative;
        text-align:right;
        width:100%;
        height:176px;
        @media (max-width: 1440px) {
            margin-bottom: 40px;
        }
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
        img {
            width: 100%;
        }
    }
}
