.sem-customers {
    $block: &;

    padding: 76px 0 62px;
    background: linear-gradient(92.29deg, #0B2B51 0%, #14568A 100%);
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    @media (max-width: 767px) {
        padding: 60px 0 40px;
    }

    &.col-four {
        .sem-customers__info {
            ul {
                columns: 4;
                @media (max-width: 767px) {
                    columns: 2;
                }

                @media (max-width: 500px) {
                    columns: 1;
                }
            }
        }
    }

    &.design_customers {
        background: $white-color;
        padding: 0 0 36px;
        @media (max-width: 991px) {
            padding: 0 0 40px;
        }
        @media (max-width: 767px) {
            padding: 0 0 40px;
        }

        #{$block}__title {
            color: $brand-primary;
            margin: 0 0 10px;
            padding: 0;
        }

        #{$block}__wrap {
            flex-direction: row-reverse;
            @media (max-width: 575px) {
                flex-direction: column;
            }
        }

        #{$block}__image {
            margin-right: 0;
            margin-left: 20px;

            @media (max-width: 575px) {
                margin-left: 0;
            }
        }

        #{$block}__info {
            padding-bottom: 20px;

            ul {
                &>li {
                    color: $blue-color;

                    &:before {
                        border-color: $light-blue-color;
                    }
                }
            }
        }
    }

    &.style-s1 {
        .sem-customers__info {
            display: block !important;
        }
    }
    
    &.style-s2 {
        #{$block}__info {
            border-color: $secondary-color;
        }

        #{$block}__subtitle {
            font-weight: 400;
            font-size: 28px;
            color: $brand-primary;
            letter-spacing: 0;
            text-transform: inherit;
            margin-top: 50px;
            margin-bottom: 30px;

            @media(max-width: 768px) {
                font-size: 24px;
                line-height: 1.3;
            }
        }

        .sem-customers__info {
            display: block !important;
        }
    }

    &__wrap {
        align-items: flex-start;
        @media (max-width: 575px) {
            flex-direction: column;
        }
    }

    &__image {
        width: 305px;
        height: 320px;
        flex-shrink: 0;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
        @media (max-width: 1199px) {
            width: 260px;
            height: 280px;
        }
        @media (max-width: 767px) {
            width: 220px;
            height: 220px;
        }
        @media (max-width: 575px) {
            width: 100%;
            margin-right: 0;
            padding-bottom: 100%;
        }

        img {
            @extend %full-image;
        }
    }

    &__content {
        @media (max-width: 1199px) {
            padding-top: 20px;
        }
    }

    &__subtitle {
        @extend %h5;
        text-transform: uppercase;
        margin: 0 0 10px;
        color: $blue-color;
    }

    &__title {
        @extend %h3;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 0;
        padding-left: 20px;
        color: $white-color;
        @media (max-width: 767px) {
            padding-left: 10px;
            padding-bottom: 0;
        }
        @media (max-width: 575px) {
            padding-left: 0;
        }
    }

    &__text {
        @extend %text14;
        margin: 0 0 20px;
        @media (max-width: 991px) {
            margin: 0;
        }
    }

    &__info {
        padding-top: 20px;
        border-top: 1px solid $light-blue-color;

        @media (max-width: 991px) {
            margin-top: 20px;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            columns: 3;
            @media (max-width: 767px) {
                columns: 2;
            }
            @media (max-width: 500px) {
                columns: 1;
            }

            & > li {
                padding-left: 20px;
                position: relative;
                @extend %text14;
                color: $white-color;
                margin-bottom: 9px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:empty {
                    opacity: 0;
                    height: 1px;

                    &:before {
                        display: none; 
                    }
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    border: 1px solid $secondary-color;
                }
            }
        }

        &-full {
            border-top: 0;

            ul {
                columns: 1;
            }
        }
    }
}
