.sem-gallery {
    margin-bottom: 70px;
    @media (max-width: 991px) {
        margin-bottom: 60px;
    }
    @media (max-width: 575px) {
        margin-bottom: 50px;
    }
    &.pos-left {
        .sem-connection {
            justify-content: left;
            display: flex;
            margin-top: 74px;
        }
    }
    &.pos-center {
        .sem-connection {
            justify-content: center;
            display: flex;
            margin-top: 50px;
        }
    }
    &__wrap {
        line-height: 0;
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-gap: 20px;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        @media (max-width: 767px) {
            column-count: 2;
            -moz-column-count: 2;
            -webkit-column-count: 2;
        }
        @media (max-width: 575px) {
            column-gap: 15px;
            -webkit-column-gap: 15px;
            -moz-column-gap: 15px;
        }
    }

    &__item {
        display: block;
        margin-bottom: 20px;

        @media (max-width: 575px) {
            margin-bottom: 15px;
        }

        img {
            height: auto;
            width: 100%;
        }
    }
}
