.sem-hero {
    margin-bottom: 50px;
    overflow: hidden;

    @media (max-width: 991px) {
        margin-bottom: 40px;
    }

    @media (max-width: 575px) {
        // margin-bottom: 0;
    }

    &__image {
        min-height: 60vh;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            object-position: center;
        }

        @media(max-width: 575px) {
            height: auto;
            min-height: auto;

            img {
                position: static;
                height: auto;
                max-width: 100%;
            }
        }
    }

    &__video {
        height: 507px;
        position: relative;
        overflow: hidden;
        width: 100%;
        @media (max-width: 991px) {
            height: auto;
            padding-bottom: 60%;
        }
        @media (max-width: 575px) {
            width: 100vw;
            margin-left: calc((100% - 100vw) / 2);
            padding-bottom: 65%;
        }
    }
}
