.sem-mission {

    padding: 70px 0 90px;
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    @media (max-width: 575px) {
        padding: 50px 0;
    }

    &__content {
    }

    &__text {
        @extend %text14;
        margin: 0 0 20px;
    }

    &__title {
        @extend %h4;
        font-weight: 400;
        margin: 0 0 30px;
        width: 100%;
        padding-top: 20px;
        border-top: 1px solid $secondary-color;
    }

    &__image {
        margin-top: -130px;
        @media (max-width: 1199px) {
            margin-top: 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 20px;
        }

        img {
            width: 100%;
        }
    }
}
