.sem-news-card {
    margin: 0 0 50px;

    &__image {
        position: relative;
        overflow: hidden;
        margin: 0 0 30px;
        padding-bottom: 50.8%;
        @media (max-width: 767px) {
            padding-bottom: 65%;
            margin: 0 0 20px;
        }

        img {
            @extend %full-image;
        }
    }

    &__title {
        @extend %h4;
        font-weight: 400;
        margin: 0 0 35px;
        @media (max-width: 767px) {
            margin: 0 0 25px;
        }
    }
}
