.sem-news-block {
    padding: 70px 0;
    @media (max-width: 1199px) {
        padding: 50px 0 60px;
    }
    @media (max-width: 575px) {
        padding: 40px 0 60px;
    }

    &__subtitle {
        @extend %h5;
        text-transform: uppercase;
        margin: 0 0 30px;
    }
}
