.sem-products {
    padding: 20px 0 60px;
    @media (max-width: 991px) {
        padding: 20px 0 30px;
    }

    &__item {
        display: block;
        text-decoration: none;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }

        $item: &;

        &:hover {
            text-decoration: none;
            cursor: pointer;

            #{$item}-bottom {
                transform: translateY(20px);
                background-color: $brand-primary;

                .sem-link {
                    color: $white-color;

                    .icon svg path {
                        fill: $white-color;
                    }
                }
            }
        }

        &-image {
            position: relative;
            z-index: 2;
            overflow: hidden;
            padding-bottom: 130%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 103.21%);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 50px;

            img {
                @extend %full-image;
            }
        }

        &-title {
            @extend %h4;
            font-weight: 400;
            text-align: right;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $white-color;
            transform-origin: top left;
            writing-mode: vertical-lr;
            text-align: center;
            margin: 0;
            position: absolute;
            top: 60px;
            bottom: 60px;
            left: 20px;
            @media (max-width: 1199px) {
                font-size: 20px;
                top: 40px;
                bottom: 40px;
            }
        }

        &-bottom {
            transition: all 0.4s;
            border-radius: 0 0 50px 50px;
            background-color: $white-color;
            z-index: 1;
            height: 200px;
            margin-top: -150px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 16px;
        }
    }
}
