.sem-services {
    margin-bottom: 80px;
    @media (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media (max-width: 991px) {
        margin-bottom: 40px;
    }

    @media(max-width: 575px) {
        margin-bottom: 30px;
    }

    &__block {
        &-subtitle {
            @extend %h5;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 0 10px;
            color: $blue-color;
        }

        &-title {
            @extend %h3;
            margin: 0 0 20px;
        }

        &-list {
            padding-top: 20px;
            border-top: 1px solid $light-blue-color;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                @media (max-width: 1199px) {
                    margin-bottom: 9px;
                }

                & > li {
                    padding-left: 20px;
                    position: relative;
                    @extend %text14;
                    color: $brand-primary;
                    margin-bottom: 9px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 6px;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        border: 1px solid $light-blue-color;
                    }
                }
            }
        }
    }
}
