.sem-about {
    overflow-x: hidden;
    padding-bottom: 80px;

    &.extra-space {
        padding-top: 60px;
    }

    @media (max-width: 991px) {
        padding-bottom: 60px;
    }
    @media (max-width: 575px) {
        padding-bottom: 50px;

        &.extra-space {
            padding-top: 40px;
        }
    }

    &__content {
        padding-bottom: 20px;
        margin-bottom: 55px;
        border-bottom: 1px solid $light-blue-color;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
        @media (max-width: 575px) {
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        @extend %h3;
        margin: 0 0 20px;
    }

    &__text {
        @extend %text14;
        margin: 0 0 20px;
        @media (max-width: 575px) {
            margin: 0 0 10px;
        }
    }

    &__slider {
        position: relative;
        @media (max-width: 575px) {
            padding: 0 10px;
        }

        &-item {
            position: relative;
            padding-bottom: 84.5%;
            overflow: hidden;

            img {
                @extend %full-image;
            }
        }

        .sem-image-slider-prev,
        .sem-image-slider-next {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            @media (max-width: 400px) {
                transform: scale(0.6);
            }
        }

        .sem-image-slider-prev {
            left: -57px;
            @media (max-width: 575px) {
                left: -30px;
            }
        }
        .sem-image-slider-next {
            right: -57px;
            @media (max-width: 575px) {
                right: -30px;
            }
        }
    }
}
