.sem-technology {
    padding: 60px 0 85px;
    @media (max-width: 991px) {
        padding: 60px 0;
    }

    @media (max-width: 575px) {
        padding: 50px 0 60px;
    }

    &__item {
        margin: 0 0 30px;

        &-image {
            position: relative;
            overflow: hidden;
            padding-bottom: 70%;
            margin: 0 0 20px;

            img {
                @extend %full-image;
            }
        }

        &-title {
            @extend %h4;
            font-weight: 400;
            margin: 0 0 10px;
        }

        &-text {
            p {
                @extend %text14;
                margin: 0 0 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
