@import "./../node_modules/bootstrap/scss/bootstrap-grid";



// Alignment
.text-wrap     { white-space: normal !important; }
.text-nowrap   { white-space: nowrap !important; }

// Responsive alignment


// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Misc
.text-hide {
	//@include text-hide($ignore-warning: true);
}

.text-decoration-none { text-decoration: none !important; }

.text-break {
	word-break: break-word !important; // IE & < Edge 18
	overflow-wrap: break-word !important;
}

// Reset
.text-reset { color: inherit !important; }

