@import "variables";

%h {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-weight: 700;

    &:first-child {
        padding-top: 0;
    }
}

%h1 {
    font-size: rem(56px);
    line-height: rem(66px);
    @media (max-width: 991px) {
        font-size: rem(50px);
        line-height: 1.2;
    }
    @media (max-width: 767px) {
        font-size: rem(44px);
    }
    @media (max-width: 575px) {
        font-size: rem(40px);
    }
}

%h2 {
    font-size: rem(40px);
    line-height: rem(47px);
    @media (max-width: 1199px) {
        font-size: rem(36px);
        line-height: 1.2;
    }
    @media (max-width: 991px) {
        font-size: rem(34px);
    }
    @media (max-width: 767px) {
        font-size: rem(30px);
    }
    @media (max-width: 575px) {
        font-size: rem(28px);
    }
}

%h3 {
    font-weight: 400;
    font-size: rem(36px);
    line-height: rem(43px);
    @media (max-width: 991px) {
        font-size: rem(30px);
        line-height: 1.2;
    }
    @media (max-width: 767px) {
        font-size: rem(28px);
    }
    @media (max-width: 575px) {
        font-size: rem(24px);
    }
}

%h4 {
    font-size: rem(28px);
    line-height: rem(30px);
    @media (max-width: 1199px) {
        font-size: rem(24px);
        line-height: 1.2;
    }
    @media (max-width: 767px) {
        font-size: rem(22px);
    }
    @media (max-width: 575px) {
        font-size: rem(20px);
    }
}

%h5 {
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(21px);
    letter-spacing: 0.1em;

    @media (max-width: 767px) {
        font-size: rem(16px);
        line-height: rem(19px);
    }
}

%h6 {
    font-size: rem(20);
}

%text14 {
    font-size: rem(14px);
    line-height: rem(18px);
}

%text15 {
    font-size: rem(15px);
    line-height: 1.2;
}

%text16 {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(19px);
    letter-spacing: 0.1em;
}

%text18 {
    font-size: rem(18px);
    line-height: rem(21px);
    letter-spacing: 0.1em;

    @media (max-width: 767px) {
        font-size: rem(16px);
        line-height: rem(19px);
    }
}


%full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
