@import "variables";

.sem-footer {
    background-color: $brand-primary;

    &__wrap {
        align-items: flex-start;
        justify-content: space-between;
        padding: 80px 0 0;
        flex-wrap: wrap;

        @media (max-width: 991px) {
            flex-wrap: wrap;
            padding: 60px 0 65px;
        }
        @media (max-width: 500px) {
            padding: 40px 0;
        }
    }

    &__copy {
        color: $white-color;
        flex: 0 0 100%;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        padding-top: 56px;
        padding-bottom: 42px;

        @media (max-width: 500px) {
            padding: 30px 0;
        }
    }

    &__col {
        flex-shrink: 0;
        flex-grow: 1;
        max-width: 100%;

        &.col_main {
            @media (max-width: 991px) {
                width: 100%;
            }
        }

        &.col_nav {
            padding-top: 40px;
            @media (max-width: 991px) {
                width: 50%;
                padding-top: 30px;
            }
            @media (max-width: 500px) {
                width: 100%;
                padding-top: 25px;
            }
        }

        &.col_contact {
            padding-top: 40px;
            @media (max-width: 991px) {
                width: 50%;
                padding-top: 30px;
            }
            @media (max-width: 500px) {
                width: 100%;
                padding-top: 25px;
            }
        }
    }

    &__logo {
        width: 170px;
        display: block;
        cursor: pointer;
        flex-shrink: 0;
        margin: 0 0 20px;

        @media (max-width: 991px) {
            width: 150px;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        @extend %text14;
        color: $white-color;
        margin: 0 0 20px;
    }

    &__title {
        @extend %h5;
        line-height: 1;
        margin: 0 0 13px;
        color: $light-blue-color;
        @media (max-width: 767px) {
            margin: 0 0 10px;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;

        & > li {
            margin: 0 0 14px;
            @media (max-width: 767px) {
                margin: 0 0 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            & > a {
                @extend %text14;
                text-decoration: none;
                color: $white-color;
                transition: all 0.25s;

                &:hover,
                &:active,
                &:focus {
                    color: $light-blue-color;
                    text-decoration: none;
                }
            }
        }
    }
}
