@import "variables";

body {
    font-family: $font-family-Rubik;
    color: $brand-primary;
}

.modal-open {
    overflow: hidden;
}

.sem-main-wrapper {
    // padding-top: 132px;
    position: relative;
    // @media (max-width: 1199px) {
    //     padding-top: 121px;
    // }
    // @media (max-width: 991px) {
    //     padding-top: 108px;
    // }
    // @media (max-width: 575px) {
    //     padding-top: 91px;
    // }
}

.sem-link {
    @extend %text15;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: $brand-primary;
    transition: all 0.4s;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $brand-primary;
    }

    &.link_arrow {
        display: flex;
        align-items: center;

        .icon {
            height: 8px;
            width: 21px;
            flex-shrink: 0;
            margin-left: 20px;
            transition: all 0.4s;

            svg {
                vertical-align: top;

                path {
                    transition: all 0.4s;
                }
            }
        }

        &:hover {
            .icon {
                transform: translateX(10px);

                svg {
                    path {
                        fill: $brand-primary;
                    }
                }
            }
        }
    }
}

.sem-page {
    padding-bottom: 100px;
    @media (max-width: 575px) {
        padding-bottom: 50px;
    }

    &__title {
        @extend %h1;
        font-weight: 700;
        margin: 0 0 50px;

        &.small {
            @extend %h4;
            font-weight: 400;
        }

        @media (max-width: 991px) {
            margin: 0 0 40px;
        }
        
        @media (max-width: 575px) {
            margin: 30px 0;
        }
    }
}

.sem-btn {
    border: none;
    box-shadow: none;
    display: block;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
    &_main {
        @extend %text15;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 15px 30px;
        background-color: $brand-primary;
        color: $white-color;
        @media (max-width: 575px) {
            padding: 15px;
            font-size: 0.7375rem;
            margin: auto;

        }
        &:hover,
        &:focus,
        &:active {
            background-color: $blue-color;
            color: $white-color;
        }
    }

    &_border {
        @extend %text15;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border: 2px solid $white-color;
        color: $white-color;
        padding: 13px 30px;

        &:hover,
        &:focus,
        &:active {
            border-color: $light-blue-color;
            color: $light-blue-color;
        }
    }
}
.swiper-button-prev,
.swiper-button-next {
    display: block;
    width: 57px;
    height: 57px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;

    svg {
        vertical-align: top;

        path {
            transition: all 0.4s;
        }
    }

    &:hover {
        svg path {
            fill: $blue-color;
        }
    }
}
.sem-contact-line {
    @extend %text14;
    display: flex;
    align-items: flex-start;
    color: $blue-color;
    text-decoration: none;
    transition: all 0.25s;
    width: 54%;

    &.text_white {
        color: $white-color;
    }

    .icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        flex-shrink: 0;

        svg {
            vertical-align: top;
        }
    }

    p {
        margin-bottom: 0;
    }
}
a.sem-contact-line {
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: $blue-color;
    }

    &.text_white {
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
            color: $white-color;
        }
    }
}
.sem-soc {
    display: flex;
    align-items: center;

    &__item {
        display: block;
        cursor: pointer;
        margin-right: 20px;
        width: 30px;
        height: 30px;

        svg {
            vertical-align: top;

            path {
                transition: all 0.4s;
            }
        }

        &:hover,
        &:active,
        &:focus {
            svg {
                path {
                    fill: $light-blue-color;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
.gform_wrapper.gravity-theme {
    .gfield {
        margin-bottom: 4px;
    }
    label, label.gfield_label {
        margin-bottom: 10px;
        display: block;
        text-transform: uppercase;
        color: #0c4f96;
        font-weight: 400;
        font-size: 1.125rem!important;
        line-height: 1.3125rem;
        letter-spacing: .1em;
        @media (max-width: 991px) {
            font-size: 0.9rem!important;
            margin-bottom: 5px;
        }
    }
    .gform_title {
        display: none;
    }
    #gform_submit_button_1 {
        letter-spacing: .05em;
        text-transform: uppercase;
        padding: 12px 29px;
        background-color: #103262;
        color: #fff;
        border: none;
        box-shadow: none;
        display: block;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.25s;
        width: 102px;
        &:hover,
        &:focus,
        &:active {
            background-color: $blue-color;
            color: $white-color;
        }
    }
    input,
    textarea {
        border-radius: 0;
        box-shadow: none;
        border: 1px solid $light-blue-color;
        transition: all 0.25s;
        background-color: $white-color;
        @extend %text15;
        padding: 18px!important;
        color: $brand-primary;
        width: 100%;
        &:hover,
        &:active,
        &:focus {
            border-color: $blue-color;
        }
        @media (max-width: 991px) {
            padding: 12px!important;
        }
        @media (max-width: 640px) {
            padding: 5px!important;
        }
    }
    textarea {
        resize: none;
        max-height: 164px;
    }
    .gform_footer {
        @media (max-width: 991px) {
            justify-content: center;
        }
    }
}
.bg-grey {
    background-color: $light-gray-color;
}

.gmap_iframe {
    width:413px!important;
    height:176px!important;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width: fit-content;
    height:176px;
    max-width: 100%;
    @media (max-width: 510px) {
        width: max-content;
    }
}
.d-error {
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 158px;
    &__title {
        font-size: 80px;
        margin: 50px 0;
    }
    &__link {
        letter-spacing: .05em;
        text-transform: uppercase;
        padding: 15px 30px;
        background-color: #103262;
        color: #fff;
        transition: all 0.25s;
        &:hover,
        &:focus,
        &:active {
            background-color: $blue-color;
            color: $white-color;
            text-decoration: none;
        }
    }
}


.sem-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    background-color: $white-color;
    z-index: 99999999;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: left;
        display: block;
    }


    &__gray,
    &__color {
        position: absolute;
        width: 257px;
        height: 150px;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__color {
        img {
            animation: gray-to-color 1.5s ease-in-out;
            // object-fit: cover;
            // object-position: left;
        }
    }

    &.active {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes gray-to-color {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
