@import "variables";

.sem-header {
    background-color: $white-color;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;

    .gtranslate_wrapper {
        position: absolute;
        top: 100%;
        right: 0;
    }

    $header: &;

    &.show {
        @media(max-width: 991px) {
            height: 100vh;
            overflow-x: hidden;
            overflow-y: scroll;

            #{$header}__wrap {
                flex-wrap: wrap;
            }
            #{$header}__nav {
                width: 100%;
                display: block;

                .gtranslate_wrapper {
                    position: static;
                    right: auto;
                    left: 0;
                    display: block;
                }
            }
            #{$header}__menu {
                display: block;
                margin-top: 40px;

                & > li {
                    margin-right: 0;
                    margin-bottom: 20px;

                    &.menu-item-has-children {
                        & > a:focus {
                            color: $blue-color;
                        }

                        &.show_menu {
                            @media (max-width: 991px) {
                                &>a {
                                    &:after {
                                        transform: rotate(180deg);
                                    }
                                }
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .sub-menu {
                position: relative;
                top: 0;
                left: 0;
                opacity: 1;
                display: none;
                width: 100%;
            }
        }
    }

    &__wrap {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        display: flex;
        cursor: pointer;
        width: 170px;
        flex-shrink: 0;
        @media (max-width: 1199px) {
            width: 150px;
        }
        @media (max-width: 991px) {
            width: 130px;
        }
        @media (max-width: 575px) {
            width: 100px;
        }

        img {
            width: 100%;
        }
    }

    &__nav {
        @media (max-width: 991px) {
            display: none;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        & > li {
            margin-right: 60px;
            position: relative;
            @media (max-width: 1400px) {
                margin-right: 40px;
            }
            @media (max-width: 1199px) {
                margin-right: 35px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.menu-item-has-children {
                padding-right: 30px;
                @media (max-width: 1199px) {
                    padding-right: 22px;
                }

                & > a {
                    position: relative;

                    &:after {
                        content: '';
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: -30px;
                        top: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("../img/arrow-menu.svg");
                        transition: all 0.4s;
                    }
                }

                &:hover {
                    & > a + .sub-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }

            & > a {
                @extend %text18;
                text-decoration: none;
                transition: all 0.4s;
                color: $brand-primary;
                text-transform: uppercase;
                cursor: pointer;

                @media (max-width: 1199px) {
                    font-size: 16px;
                }

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    color: $brand-primary;
                }
            }
        }
    }

    &__burger {
        position: relative;
        display: block;
        border: none;
        border-radius: 0;
        box-shadow: none;
        width: 39px;
        height: 23px;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        span {
            display: block;
            border-bottom: 2px solid $brand-primary;
            width: 100%;
            height: 0;
            position: absolute;
            left: 0;
            transition: all 0.3s ease-in;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 11px;
            }

            &:nth-child(3) {
                top: 22px;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(13px, 4px);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(-100px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(11px, -3px);
                }
            }
        }
    }
}

.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    left: -20px;
    width: 350px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    @media (max-width: 1199px) {
        width: 310px;
    }
    @media(max-width: 991px) {
        margin-top: 10px;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &:before {
        content: '';
        display: block;
        height: 15px;
        width: 100%;
        position: absolute;
        top: -15px;
        left: 0;
    }

    & > li {
        & > a {
            background-color: $white-color;
            display: block;
            padding: 15px 20px;
            @extend %text16;
            text-transform: uppercase;
            color: $brand-primary;
            text-decoration: none;
            transition: all 0.4s;
            @media (max-width: 1199px) {
                font-size: 14px;
            }

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: $brand-primary;
                background-color: $light-gray-color;
                @media(max-width: 991px) {
                    background-color: $white-color;
                    color: $blue-color;
                }
            }

            &.active {
                color: $brand-primary;
                background-color: $light-gray-color;
                @media(max-width: 991px) {
                    background-color: $white-color;
                    color: $blue-color;
                }
            }
        }
    }
}
